<div class="row">
    <div class="col col-6">
        <div class="container mt-2">
            <div class="card">
                <div class="card-header">Account</div>
                <div class="card-body">
                    <form [formGroup]="accountFormGroup" (ngSubmit)="handleSeachAccount()">
                        <div class="input-group">
                            <label class="input-group-text">Account ID : </label>
                            <input type="text" class="form-control" formControlName="accountId">
                            <button class="btn btn-success btn-sm">
                        <i class="bi bi-search"></i>
                        Rechercher
                      </button>
                        </div>
                    </form>
                    <ng-container *ngIf="accountObservable | async as accountHistoryDTO">
                        <div class="mb-2">
                            <label>Account ID: </label>
                            <label><strong>{{ accountHistoryDTO.accountId}}</strong></label>
                        </div>
                        <div class="mb-2">
                            <label>Balance : </label>
                            <label><strong>{{ accountHistoryDTO.balance | number:'1.2-2' }}</strong></label>
                        </div>


                        <div>
                            <table class="table">
                                <thead>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Desc</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let opers of accountHistoryDTO.operationDTOs">
                                        <td>{{ opers.id}}</td>
                                        <td>{{ opers.type}}</td>
                                        <td>{{ opers.operationDate |date: 'dd-MM-y HH:mm:ss' }}</td>
                                        <td>{{ opers.amount}}</td>
                                        <td>{{ opers.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
    <div class="col col-6">
        ici liste opérations
    </div>
</div>
